<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Kim Kardashian</title>
</head>
<body>
  <nav>
    <ul class="nav-bar">
      <li class="nav-items"><a href="/">Home</a></li>
      <li class="nav-items"><a href="/about">About</a></li>
      <li class="nav-items"><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>
  <h1>Hello Kim</h1>
  <img src="/img/kim-call.jpg" alt="picture-kim">
  <button class="btn">Call me baby!</button>
  <script src="/js/main.js"></script>
  
</body>
</html>